<form class="p-5" method="POST" enctype="application/x-www-form-urlencoded">
    <span class="display-4 logo">Registration</span>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" required>
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
            placeholder="Enter email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
    </div>
    <div class="form-group">
        <label for="Password">Re-type Password</label>
        <input type="cpassword" class="form-control" id="cpassword" placeholder="Password" name="cpassword" required>
    </div>
    <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
    <label class="form-check-label" for="agecheck">Are you 13+?</label>
  </div>
   <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="tos">Except <a href="#"> Terms of Services</a> and <a
                    href="#">Privacy Rules</a></label>
  </div>
    <span class="p-5"></span>
    <div class="w-100 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>