
    <div class="form-inline d-flex justify-content-center">
        <div class="search-len mr-2">
        <input id="search-text" class="search" type="search" placeholder="Search" aria-label="Search" size="40">

        </div>
        <button id = "search-button" class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </div>

<style>
    
</style>