<div class="card container p-2 w-100 d-flex form-h justify-content-end">
    <div class="d-flex justify-content-end ">
        <div class="bg-light reg-w">
            {{> reg-form}}
        </div>
    </div>


</div>

<style>
    .img-slide {
        height: 60vh;
    }

    .form-h {
        background-image: url('public/img/login-slice.jpg');
        background-size:contain;
    }

    .reg-w {
        width: 75%;
    }
</style>