

.main-sec{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain-field{
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 5rem;
    border: .5px solid rgba(128, 128, 128, 0.329);
        
}

.input-box{
    padding: 6px;
  
}

.input-fields{
   display: grid;
   row-gap: 5px;

}

.error{
    color:red;
    font-size: small;
}

.form-title{
    text-align: center;
    padding: 3px;
}



.close{
    color:  #4285f4;;
    font-size: 3vw;
}

.close:hover,
.close:focus{
    color: #000000;
    cursor: pointer;
}

.reg-hidden{
    display: none;
}